<template>
  <v-container>
    <div id="home">
      <v-form v-model="valid">
        <v-container>
          <div class="connect-title">
            Se connecter
          </div>
          <v-spacer />
          <v-row>
            <v-col cols="12" md="4">
              <v-text-field
                v-model="firstname"
                :rules="nameRules"
                :counter="10"
                label="First name"
                required
              ></v-text-field>
            </v-col>

            <v-col cols="12" md="4">
              <v-text-field
                v-model="lastname"
                :rules="nameRules"
                :counter="10"
                label="Last name"
                required
              ></v-text-field>
            </v-col>

            <v-col cols="12" md="4">
              <v-text-field
                v-model="email"
                :rules="emailRules"
                label="E-mail"
                required
              ></v-text-field>
            </v-col>
            <v-col cols="12" md="4" @click="login">
              <router-link to="/products">
                <v-btn :disabled="valid" color="success">
                  Validate
                </v-btn>
              </router-link>
            </v-col>
          </v-row>
        </v-container>
      </v-form>
    </div>
  </v-container>
</template>

<script lang="ts">
import Vue from "vue";

export default Vue.extend({
  name: "Home",
  components: {},
  data: () => ({
    value: "value",
    valid: false,
    firstname: "",
    lastname: "",
    nameRules: [
      (value) => !!value || "Name is required",
      (value) => value.length <= 10 || "Name must be less than 10 characters",
    ],
    email: "",
    emailRules: [
      (value) => !!value || "E-mail is required",
      (value) => /.+@.+/.test(value) || "E-mail must be valid",
    ],
    lsKey: "user",
    users: [
      { id: 1 },
      { firstname: "kassus" },
      { lastname: "ahonoukoun" },
      { email: "test@gmail.com" },
    ],
  }),
  methods: {
    /**
     * @return {Promise}
     */
    getConnectedUser: () => {
      const key = localStorage.getItem(this.lsKey);
      if (key !== undefined) {
        const user = localStorage.getItem(key);
        return Promise.resolve(user ? JSON.parse(user) : null);
      }
    },

    /**
     * @param {String} email
     * @param {String} firstname
     * @param {String} lastname
     *
     * @return {Promise}
     */
    login(email, firstname, lastname) {
      const user = this.users.find(
        (user) =>
          user.email === email &&
          user.firstname === firstname &&
          user.lastname === lastname
      );

      if (user) {
        localStorage.setItem(this.lsKey, JSON.stringify(user));
      }

      return Promise.resolve(user || null);
    },
  },
});
</script>

<style lang="scss">
.user-img {
  width: 2%;
  height: 2%;
  cursor: pointer;
}
.alert-bar-title {
  padding-left: 10%;
  color: #808080;
}
#home {
  margin-top: 15%;
}
.connect-title {
  text-align: center;
  color: #808080;
  margin-bottom: 10%;
}
</style>
