
<template>
  <div class="app">
     
  </div>
</template>

export default  {
    name: "Carts",
    props: [],
    mounted() {
      
    },
    data() {
      return {
        
      }
    },
    methods: {
     
    },
    computed: {
  
    }
}

<style>
.app {

}
</style>
