<template>
  <div id="app">
    <v-app id="inspire">
      <div class="sendto-cart" v-if="iscart">
        <v-form ref="form" v-model="valid" lazy-validation>
          <v-card max-width="350">
            <v-img :src="datas[cardIndex].image" height="200px"></v-img>

            <v-card-title>
              <div class="product-title">
                {{ datas[cardIndex].title }}
              </div>
            </v-card-title>

            <v-col cols="12">
              <v-combobox
                v-model="ColorSelect"
                :items="colorItems"
                label="Couleur"
                :rules="ColorSelectRules"
                multiple
                outlined
                dense
                required
              ></v-combobox>
            </v-col>
            <v-col cols="12">
              <v-combobox
                v-model="SeizeSelect"
                :items="SeizeItems"
                label="Taille"
                :rules="SeizeSelectRules"
                multiple
                outlined
                dense
                required
              ></v-combobox>
            </v-col>
            <v-col cols="12">
              <v-combobox
                v-model="CountSelect"
                :items="CountItems"
                label="Quantité"
                :rules="CountSelectRules"
                multiple
                outlined
                dense
                required
              ></v-combobox>
            </v-col>
            <v-btn
              :disabled="!valid"
              color="success"
              class="mr-4 add-btn"
              @click="validate"
            >
              Ajouter
            </v-btn>

            <v-card-actions>
              <v-spacer></v-spacer>

              <v-btn icon @click="show = !show">
                <v-icon>{{
                  show ? "mdi-chevron-up" : "mdi-chevron-down"
                }}</v-icon>
              </v-btn>
            </v-card-actions>

            <v-expand-transition>
              <div class="products-properties" v-show="show">
                <v-divider></v-divider>
                <v-card-text>
                  <div class="product-description">
                    {{ datas[cardIndex].description }}
                  </div>
                </v-card-text>
              </div>
            </v-expand-transition>
          </v-card>
        </v-form>
      </div>
      <div class="cards-container" v-if="!iscart">
        <v-flex d-flex>
          <v-layout wrap>
            <v-flex md2 v-for="(data, i) in datas" :key="i">
              <v-card max-width="260">
                <v-img :src="data.image" height="200px"></v-img>

                <v-card-title>
                  <div class="product-title">
                    {{ data.title.slice(0, 25) }}
                  </div>
                </v-card-title>
                <v-btn
                  :disabled="!valid"
                  color="success"
                  class="mr-4 add-btn"
                  @click="toogleOneCard(i)"
                >
                  Ajouter
                </v-btn>

                <v-card-actions>
                  <v-spacer></v-spacer>

                  <v-btn icon @click="show = !show">
                    <v-icon>{{
                      show ? "mdi-chevron-up" : "mdi-chevron-down"
                    }}</v-icon>
                  </v-btn>
                </v-card-actions>

                <v-expand-transition>
                  <div class="products-properties" v-show="show">
                    <v-divider></v-divider>
                    <v-card-text>
                      <div class="product-description">
                        {{ data.description }}
                      </div>
                    </v-card-text>
                  </div>
                </v-expand-transition>
              </v-card>
              <div class="spacer"></div>
            </v-flex>
          </v-layout>
        </v-flex>
      </div>
    </v-app>
  </div>
</template>
<script lang="ts">
export default {
  name: "ProductsList",
  data() {
    return {
      datas: [],
      cardIndex: 0,
      show: false,
      iscart: false,
      carts: [
        {
          id: 1,
          title: "Fjallraven - Foldsack No. 1 Backpack, Fits 15 Laptops",
          price: 109.95,
          description:
            "Your perfect pack for everyday use and walks in the forest. Stash your laptop (up to 15 inches) in the padded sleeve, your everyday",
          category: "men clothing",
          image: "https://fakestoreapi.com/img/81fPKd-2AYL._AC_SL1500_.jpg",
        },
        {
          id: 1,
          title: "Fjallraven - Foldsack No. 1 Backpack, Fits 15 Laptops",
          price: 109.95,
          description:
            "Your perfect pack for everyday use and walks in the forest. Stash your laptop (up to 15 inches) in the padded sleeve, your everyday",
          category: "men clothing",
          image: "https://fakestoreapi.com/img/81fPKd-2AYL._AC_SL1500_.jpg",
        },
        {
          id: 1,
          title: "Fjallraven - Foldsack No. 1 Backpack, Fits 15 Laptops",
          price: 109.95,
          description:
            "Your perfect pack for everyday use and walks in the forest. Stash your laptop (up to 15 inches) in the padded sleeve, your everyday",
          category: "men clothing",
          image: "https://fakestoreapi.com/img/81fPKd-2AYL._AC_SL1500_.jpg",
        },
        {
          id: 1,
          title: "Fjallraven - Foldsack No. 1 Backpack, Fits 15 Laptops",
          price: 109.95,
          description:
            "Your perfect pack for everyday use and walks in the forest. Stash your laptop (up to 15 inches) in the padded sleeve, your everyday",
          category: "men clothing",
          image: "https://fakestoreapi.com/img/81fPKd-2AYL._AC_SL1500_.jpg",
        },
        {
          id: 1,
          title: "Fjallraven - Foldsack No. 1 Backpack, Fits 15 Laptops",
          price: 109.95,
          description:
            "Your perfect pack for everyday use and walks in the forest. Stash your laptop (up to 15 inches) in the padded sleeve, your everyday",
          category: "men clothing",
          image: "https://fakestoreapi.com/img/81fPKd-2AYL._AC_SL1500_.jpg",
        },
      ],
      CountItems: [1, 2, 3, 5, 6, 7, 8, 9, 10],
      colorItems: ["black", "white", "red", "bleu"],
      SeizeItems: ["XS", "S", "M", "L", "XL", "XXL"],
      valid: true,
      ColorSelect: "",
      ColorSelectRules: [(v) => !!v || "Color  is required"],
      SeizeSelect: "",
      SeizeSelectRules: [(v) => !!v || "Seize is required"],
      CountSelect: "",
      CountSelectRules: [(v) => !!v || "Quantity is required"],
    };
  },
  created: function() {
    this.getAllDatas();
  },
  watch: {
    // call again the method if the route changes
    $route: "getAllDatas",
  },

  methods: {
    // method for getting all existing products
    getAllDatas() {
      const uri = "https://fakestoreapi.com/products";
      this.axios.get(uri).then((response) => {
        this.datas = response.data;
      });
    },
    // method for validating the choice of the products proporties
    validate() {
      if (
        this.ColorSelect === "" ||
        this.SeizeSelect === "" ||
        this.CountSelect === ""
      ) {
        this.iscart = true;
      } else {
        // validate the form before submitting it
        this.$refs.form.validate();
        // add one number at the cart count
        this.carts.push(this.datas[this.cardIndex]);
        // reset the submitted form
        this.$refs.form.reset();
        // toogle to all cards view
        this.iscart = false;
      }
    },

    // method for displaying  one card
    toogleOneCard: function(i) {
      this.iscart = true;
      // get the selected data element index
      this.cardIndex = i;
    },
  },
  computed: {},
};
</script>

<style>
.spacer {
  height: 50px;
}

.product-description {
  height: 100px;
  overflow: auto;
}
.products-properties {
  height: 40%;
}
.product-title {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  font-size: 1em;
  -o-text-overflow: ellipsis; /* Opera < 10 */
  text-overflow: ellipsis;
}
.add-btn {
  margin-left: 20px;
}

.sendto-cart {
  margin: 2% 20% 1% 35%;
  width: 30%;
}
</style>
