<template>
  <div id="app">
    <v-app id="inspire">
      <div class="full-screen" v-if="isFullScreen">
        <v-img
          :src="imagesArray[indexImage]"
          :lazy-src="imagesArray[indexImage]"
          aspect-ratio="1"
          class="grey lighten-2"
          @click="toogleReverse"
        >
        </v-img>
      </div>
      <div v-if="!isFullScreen">
        <v-row>
          <v-col
            v-for="(img, i) in imagesArray"
            :key="i"
            class="d-flex child-flex"
            cols="2"
            @click="toogleFullscreen(i)"
          >
            <v-img
              :src="img"
              :lazy-src="img"
              aspect-ratio="1"
              class="grey lighten-2"
            >
            </v-img>
          </v-col>
        </v-row>
      </div>
    </v-app>
  </div>
</template>
<script>
export default {
  name: "productsList",

  props: [],
  data: () => {
    return {
      isFullScreen: false,
      indexImage: "",
      datas: [],
      imagesArray: [],
    };
  },
  created: function() {
    this.getAllDatas();
  },
  watch: {
    // call again the method if the route changes
    $route: "getAllDatas",
  },

  methods: {
    // method for displaying  fullscreen image
    toogleFullscreen: function(i) {
      this.isFullScreen = true;
      this.indexImage = i;
    },
    // method for displaying  small image
    toogleReverse: function() {
      this.isFullScreen = false;
    },

    getAllDatas() {
      const uri = "https://fakestoreapi.com/products";
      this.axios.get(uri).then((response) => {
        this.datas = response.data;

        this.datas.forEach((data) => {
          const imgUrl = data.image;
          this.imagesArray.push(imgUrl);
        });
      });
    },
  },
  computed: {},
};
</script>

<style>
.app {
}
.ap-caroussel {
  width: 200px;
  height: 200px;
}
#inspire {
  margin-top: 10%;
}
.full-screen {
  margin: 2% 20% 1% 35%;
  width: 30%;
}
</style>
