<template>
  <v-app>
    <v-app-bar app color="primary" dark>
      <div class="d-flex align-center">
        <v-img
          alt="UserProfile image"
          class="shrink mr-2 user-img"
          contain
          src="../src/assets/photo_kassus.jpg"
          transition="scale-transition"
          width="40"
        />
      </div>
      <div class="alert-text">
        Découvrez le nouveau site internet...
      </div>
      <div id="nav">
        <router-link to="/">Home</router-link> |
        <router-link to="/products">Fiche Produit</router-link> |
        <router-link to="/productslist">Liste Produits</router-link>
      </div>

      <v-spacer></v-spacer>

      <v-btn target="_blank" text>
        <router-link to="/carts">
          <v-badge right color="green lighten-1">
            <span slot="badge">{{ carts.length }}</span>
            <v-icon medium color="white lighten-1"> mdi-cart</v-icon>
          </v-badge>
        </router-link>
      </v-btn>

      <v-btn target="_blank" text>
        <router-link to="/">
          <v-icon large color="white lighten-1">
            mdi-exit-to-app
          </v-icon>
        </router-link>
      </v-btn>
    </v-app-bar>

    <v-main>
      <router-view />
    </v-main>
  </v-app>
</template>

<script lang="ts">
import Vue from "vue";

export default Vue.extend({
  name: "App",
  props: [],
  components: {},
  data: () => ({
    lsKey: "user",

    /**
     * This array will be use for getting the carts count and display it other view
     */
    carts: [
      {
        id: 1,
        title: "Fjallraven - Foldsack No. 1 Backpack, Fits 15 Laptops",
        price: 109.95,
        description:
          "Your perfect pack for everyday use and walks in the forest. Stash your laptop (up to 15 inches) in the padded sleeve, your everyday",
        category: "men clothing",
        image: "https://fakestoreapi.com/img/81fPKd-2AYL._AC_SL1500_.jpg",
      },
      {
        id: 1,
        title: "Fjallraven - Foldsack No. 1 Backpack, Fits 15 Laptops",
        price: 109.95,
        description:
          "Your perfect pack for everyday use and walks in the forest. Stash your laptop (up to 15 inches) in the padded sleeve, your everyday",
        category: "men clothing",
        image: "https://fakestoreapi.com/img/81fPKd-2AYL._AC_SL1500_.jpg",
      },
      {
        id: 1,
        title: "Fjallraven - Foldsack No. 1 Backpack, Fits 15 Laptops",
        price: 109.95,
        description:
          "Your perfect pack for everyday use and walks in the forest. Stash your laptop (up to 15 inches) in the padded sleeve, your everyday",
        category: "men clothing",
        image: "https://fakestoreapi.com/img/81fPKd-2AYL._AC_SL1500_.jpg",
      },
      {
        id: 1,
        title: "Fjallraven - Foldsack No. 1 Backpack, Fits 15 Laptops",
        price: 109.95,
        description:
          "Your perfect pack for everyday use and walks in the forest. Stash your laptop (up to 15 inches) in the padded sleeve, your everyday",
        category: "men clothing",
        image: "https://fakestoreapi.com/img/81fPKd-2AYL._AC_SL1500_.jpg",
      },
      {
        id: 1,
        title: "Fjallraven - Foldsack No. 1 Backpack, Fits 15 Laptops",
        price: 109.95,
        description:
          "Your perfect pack for everyday use and walks in the forest. Stash your laptop (up to 15 inches) in the padded sleeve, your everyday",
        category: "men clothing",
        image: "https://fakestoreapi.com/img/81fPKd-2AYL._AC_SL1500_.jpg",
      },
    ],
  }),
  created: function() {
    this.getCardsContent();
  },
  watch: {
    // call again the method if the route changes
    $route: "getCardsContent",
  },

  methods: {
    /**
     * @return {Promise}
     */
    logout() {
      const connectkey = localStorage.getItem(this.lsKey);
      if (connectkey !== undefined) {
        //remove the localstorage item
        localStorage.removeItem(this.lsKey);
      }
      return Promise.resolve();
    },

    // method for getting all existing carts
    getCardsContent() {
      const uri = "https://fakestoreapi.com/products";
      this.axios.get(uri).then((response) => {
        this.datas = response.data;
      });
    },
  },
});
</script>
<style lang="scss">
.user-img {
  cursor: pointer;
}
.alert-text {
  margin-left: 10%;
}
#nav {
  padding: 10%;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: white;
}
</style>
